.red {
  color: $red;
}

.light-gray {
  color: $light-gray
}

.dark-gray {
  color: $dark-gray
}

ul.inline {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0 15px 0 0;
    padding: 0;
    display: inline;
  }
}

.uppercase {
  text-transform: uppercase;
}

.event-years {
  font-size: 10px;
  padding: 20px !important;
}