body.single-speaker {
  .red {
    color: $red;
  }

  .light-gray {
    color: $light-gray
  }
  .dark-gray {
    color: $dark-gray
  }

  .container {
    padding-top: 30px;
  }

  .page-header {
    h1 {
      font-weight: bold;
      font-size: 16px;

    }
  }

}